@charset "UTF-8";

* {
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset, figure, h1, h2, h3, p {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    margin: 0; padding: 0;
}

b, strong {
    font-weight: 400;
}
em {
    font-style: italic;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #C10101;
}
