.body-view-element {
    padding: 1em 0;
    break-inside: avoid;

    > header {
        border-bottom: 1px solid $labelBgColor;

        label {
            background-color: $labelBgColor;
            color: #fff;
        }
    }

    label {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 1rem;
        background-color: #f5f5f5;
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: .875em;
        white-space: nowrap;
    }

    label[for] {
        background-color: transparent;
        padding-left: .25rem;
        padding-right: 0;
        cursor: pointer;
    }

    button {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 1rem;
        margin: 0;
        border: 0;
        background-color: #666;
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: .825rem;
        font-weight: 300;
        font-family: Lato, sans-serif;
        color: #eee;
        cursor: pointer;
    }

    .body-view-element-fieldset {
        margin: .75em 0;

        &.fieldset-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            input[type=text], select {
                text-align: center;
            }
        }

        // for select just a style that will  be overridden/removed with Select 2 js
        input[type=text], select {
            height: 1.75rem;
            flex-grow: 1;
            min-width: 4em;
            box-sizing: border-box;
            border: 1px solid #f5f5f5;
            margin: 0;
            display: inline-block;
            padding-left: 1em;
            padding-right: 1em;
        }

        select {
            background-color: transparent;
            text-align-last:center;
        }

        input[type=checkbox],
        input[type=radio] {
            margin-left: 2em;
        }
    }

    &.body-view-element-custom-properties {
        label:first-child {
            flex-basis: 10em;
        }
    }
}



/* Media Queries */
@media #{$media-narrow-v} {
    .body-view-element {
        padding: 0;
    }
}
