/* ==========================================================================
   Body
   ========================================================================== */

.be4ui-body {
    padding: 0 1em;
    margin: 3em 0 1em;
    display: flex;

    .be4ui-body-view {
        margin-left: 4em;
        flex-grow: 2;
        min-width: 16em;

        > header {
            margin-bottom: 1em;
        }

        > article {
            column-count: 2;
            column-gap: 2em;
        }
    }
}

.be4ui-body-title {
    font-size: 1.25em;
    font-weight: normal;
}

.be4ui-body-toolbar {
    display: flex;
    flex-direction: column;

    .be4ui-circle-button {
        margin-bottom: 1em;
        &.active {
            background-color: #fc7322;
        }
    }
}

.be4ui-button {
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
    cursor: pointer;
    label { cursor: pointer; }

    &.be4ui-circle-button {
        border-radius: 1em;
        width: 2em;
        height: 2em;
        background-color: #222;
        color: #fff;
        margin-right: .5em;
        line-height: 2em;
    }
}


/* Media Queries */
@media #{$media-narrow-v} {
    .be4ui-body {
        .be4ui-body-view {
            margin-left: 2em;

            > article {
                column-count: 1;
            }
        }
    }
}
