.be4ui-drawer-container {
    @extend .helper-full-absolute;
    right: 0;
    left: auto;
    perspective: 1000px;
    perspective-origin: 100% -20%;
    width: 0;
    z-index: 100;
    overflow-x: visible;
    transition: width 1.5s; // much longer than 3d transofmr of container


    .be4ui-drawer {
        @extend .helper-full-absolute;
        left: auto;
        right: 0;
        width: 50%;
        overflow-x: hidden;

        background: #217286 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC) repeat;
        box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        // margin-left: 1em; // hide shadow when hidden

        // transform: translateX(100%);
        transform: rotateY(90deg);
        transform-origin: right;
        transition: all .4s ease-in-out;
        font-size: .875em;
        text-align: center;
    }

    .button-toggle-drawer {
        position: absolute;
        top:0;
        right: 0;
        display: inline-block;
        padding: 0 2em;
        line-height: 2.25rem;
        background-color: #222;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        transition: right .3s ease-in-out;
    }


    &.be4ui-drawer-visibile {
        width: 100%;
        transition: none;

        .be4ui-drawer {
            box-shadow: 0 0 1rem rgba(0, 0, 0, .85);
            // transform: translateX(0);
            transform: rotateY(0);

            &:hover {
                box-shadow: 0 0 2rem rgba(0, 0, 0, .85);
            }
        }

        .button-toggle-drawer {
            right: 50%;
        }
    }
}
