/* ==========================================================================
   Layout
   ========================================================================== */


html {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

body {
    background-color: $mainBgColor;
    color: $mainFgColor;
    /* safari 9+ only */
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
        font-weight: 400;
    }
}

/* MAIN */
.be4ui-main-container {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-bottom: 3em; // just here for the footer fixed that will be removed

    perspective: 1000px;
    perspective-origin: 100% -20%;

    .be4ui-main-header, .be4ui-main-footer {
        font-size: .875em;
        background-color: #fff;

        label {
            display: block;
            padding: .5em 1em;
        }

        .be4ui-module-label {
            display: inline-block;
            background-color: $labelBgColor;
            color: #fff;
        }
    }

    .be4ui-main-header {
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 1em rgba(0, 0, 0, .25);
        .be4ui-header-toolbar {
            padding: .5em 1em;
            flex-grow: 2;
        }
    }

    .be4ui-main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #666362;
        color: #999;
    }
}
