/* ==========================================================================
   Typography
   ========================================================================== */


html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: $ff;
    font-weight: 300;
}

