/*! ==========================================================================
    ChannelWeb srl - xho - Bologna
    Footygangs CSS
    team: Christiano Presutti, Alberto Pagliarini
    ==========================================================================
*/
/* =========================================================================
   Variables
   ========================================================================= */
/* =========================================================================
   Files
   ========================================================================= */
/* ==========================================================================
   Base, minimal reset
   ========================================================================== */
* {
  outline: none; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset, figure, h1, h2, h3, p {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

body {
  margin: 0;
  padding: 0; }

b, strong {
  font-weight: 400; }

em {
  font-style: italic; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #C10101; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
*[contenteditable], input[type=text], textarea {
  -webkit-user-select: auto !important; }

.clearfix:after {
  clear: both; }

.helper-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.helper-hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.helper-transparent {
  opacity: 0; }

.helper-full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

.helper-full-space {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Fonts
   ========================================================================== */
/* lato-300 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v11-latin_latin-ext-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato-v11-latin_latin-ext-300.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin_latin-ext-300.woff2") format("woff2"), url("../fonts/lato-v11-latin_latin-ext-300.woff") format("woff"), url("../fonts/lato-v11-latin_latin-ext-300.ttf") format("truetype"), url("../fonts/lato-v11-latin_latin-ext-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/lato-v11-latin_latin-ext-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/lato-v11-latin_latin-ext-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin_latin-ext-300italic.woff2") format("woff2"), url("../fonts/lato-v11-latin_latin-ext-300italic.woff") format("woff"), url("../fonts/lato-v11-latin_latin-ext-300italic.ttf") format("truetype"), url("../fonts/lato-v11-latin_latin-ext-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin_latin-ext-regular.woff") format("woff"), url("../fonts/lato-v11-latin_latin-ext-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin_latin-ext-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin_latin-ext-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato-v11-latin_latin-ext-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin_latin-ext-italic.woff2") format("woff2"), url("../fonts/lato-v11-latin_latin-ext-italic.woff") format("woff"), url("../fonts/lato-v11-latin_latin-ext-italic.ttf") format("truetype"), url("../fonts/lato-v11-latin_latin-ext-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* ==========================================================================
   Layout
   ========================================================================== */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  background-color: #fff;
  color: #222;
  /* safari 9+ only */ }
  @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    body {
      font-weight: 400; } }

/* MAIN */
.be4ui-main-container {
  padding-bottom: 4em; }
  .be4ui-main-container .be4ui-main-header, .be4ui-main-container .be4ui-main-footer {
    font-size: .875em;
    background-color: #fff; }
    .be4ui-main-container .be4ui-main-header label, .be4ui-main-container .be4ui-main-footer label {
      display: block;
      padding: .5em 1em; }
    .be4ui-main-container .be4ui-main-header .be4ui-module-label, .be4ui-main-container .be4ui-main-footer .be4ui-module-label {
      display: inline-block;
      background-color: #fc7322;
      color: #fff; }
  .be4ui-main-container .be4ui-main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25); }
    .be4ui-main-container .be4ui-main-header .be4ui-header-toolbar {
      padding: .5em 1em;
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
  .be4ui-main-container .be4ui-main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666362;
    color: #999; }

/* ==========================================================================
   Body
   ========================================================================== */
.be4ui-body {
  padding: 0 1em;
  margin: 3em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .be4ui-body .be4ui-body-view {
    margin-left: 4em;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    min-width: 16em; }
    .be4ui-body .be4ui-body-view > header {
      margin-bottom: 1em; }
    .be4ui-body .be4ui-body-view > article {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 2em;
         -moz-column-gap: 2em;
              column-gap: 2em; }

.be4ui-body-title {
  font-size: 1.25em;
  font-weight: normal; }

.be4ui-body-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .be4ui-body-toolbar .be4ui-button {
    margin-bottom: 1em; }

.be4ui-button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  background-color: #222;
  color: #fff;
  margin-right: .5em;
  line-height: 2em;
  cursor: pointer; }

/* Media Queries */
@media only screen and (max-width: 860px) {
  .be4ui-body .be4ui-body-view {
    margin-left: 2em; }
    .be4ui-body .be4ui-body-view > article {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1; } }

/* ==========================================================================
   Elements
   ========================================================================== */
.body-view-element {
  padding: 1em 0;
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid; }
  .body-view-element > header {
    border-bottom: 1px solid #fc7322; }
    .body-view-element > header label {
      background-color: #fc7322;
      color: #fff; }
  .body-view-element label {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #f5f5f5;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: .875em;
    white-space: nowrap; }
  .body-view-element label[for] {
    background-color: transparent;
    padding-left: .25rem;
    padding-right: 0;
    cursor: pointer; }
  .body-view-element button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 0;
    border: 0;
    background-color: #666;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: .825rem;
    font-weight: 300;
    font-family: Lato, sans-serif;
    color: #eee;
    cursor: pointer; }
  .body-view-element .body-view-element-fieldset {
    margin: .75em 0; }
    .body-view-element .body-view-element-fieldset.fieldset-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .body-view-element .body-view-element-fieldset.fieldset-flex input[type=text], .body-view-element .body-view-element-fieldset.fieldset-flex select {
        text-align: center; }
    .body-view-element .body-view-element-fieldset input[type=text], .body-view-element .body-view-element-fieldset select {
      height: 1.75rem;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      min-width: 4em;
      box-sizing: border-box;
      border: 1px solid #f5f5f5;
      margin: 0;
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em; }
    .body-view-element .body-view-element-fieldset select {
      background-color: transparent;
      -moz-text-align-last: center;
           text-align-last: center; }
    .body-view-element .body-view-element-fieldset input[type=checkbox],
    .body-view-element .body-view-element-fieldset input[type=radio] {
      margin-left: 2em; }
  .body-view-element.body-view-element-custom-properties label:first-child {
    -ms-flex-preferred-size: 10em;
        flex-basis: 10em; }

/* Media Queries */
@media only screen and (max-width: 860px) {
  .body-view-element {
    padding: 0; } }

/* ==========================================================================
   Typography
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
